<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <hypothesis-app></hypothesis-app>

    <script class="js-hypothesis-config" type="application/json">
    {{&settings}}
    </script>

    <script src="/client/build/boot.js"></script>
  </body>
</html>
